.centered-div{
    background: transparent !important; 
    border: none;
    box-shadow: none ;
    max-width:800px;
    backdrop-filter: blur(5px) !important;
    position: relative;
}
.container-results{
    height: 500px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: minmax(120px,200px) minmax(120px,200px) minmax(120px,200px); /*ricontrollare*/
    gap:20px;
    align-items: end;
    justify-content: space-evenly;
    justify-items: stretch;
    align-content: stretch;
}
.firstPlace{
    height:0px;
    animation: firstPlaceAn 1s ease 2s forwards;
}
@keyframes firstPlaceAn {
    from{height: 0px;}
    to{height: 300px;}
 }
.secondPlace{
    height:0px;
    animation: SecondPlaceAn 1s ease 1s forwards;
 }
 @keyframes SecondPlaceAn {
    from{height: 0px;}
    to{height: 250px;}
 }
 .thirdPlace{
    height:0px;
    animation: thirdPlaceAn 1s ease 0s forwards;
 }
 @keyframes thirdPlaceAn {
    from{height: 0px;}
    to{height: 200px;}
 }
 .podium{
    background: rgb(228,178,70);
    background: linear-gradient(14deg, rgba(228,178,70,1) 0%, rgba(241,130,56,1) 100%);
    border-radius: 10px 10px 0px 0px;
    display: grid;
    grid-template-rows: 50px auto;
 }
 .name{
    text-align: center;
    border-bottom: 1px solid white;
    height:50px;
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.728);
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
 }
 .avatar-podium{
    position: absolute;
    height: 0px;
    width: 0px;
    filter: drop-shadow(1px 0px 5px black);
    animation: imgDisplay 1s ease 3s forwards;
 }
@keyframes imgDisplay {
    from{height: 0px;
         width:0px}
    to{height: 100px;
       width:100px}
}
.image-container{
    padding-top: 25px;
    position: relative;
    justify-content: center;
}
.third{
    top:135px;
    animation: imdDisplay ease 1s;
}
.second{
    top:85px;
    animation: imdDisplay ease 1s;
}
.first{
    top:35px;
    animation: imdDisplay ease 1s;
}
.img-position{
    margin-top: 20px;
    width: 0px;
    animation: positionAn 1s ease forwards;
}
.third-position{
    animation-delay: 0s;
}
.first-position{
    animation-delay: 2s;
}
.second-position{
    animation-delay: 1s;
}
@keyframes positionAn{
    from{width: 0px;
    }
    to{width: 130px;
    }
}
.crown{
    position:absolute;
    z-index: 2;
    top:-25px;
    width:0px;
    overflow:visible;
    animation: positionAn 1s ease 4s 1 forwards;
}
.crown-container{
    margin: auto;
    width: 100%;
}