.scrollbar:horizontal{
  background-color: #b01414;
}
/* width */
::-webkit-scrollbar-orizontal {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track-piece {
    background-color: #c71717 !important ;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #b01414 !;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c04f1f;
  }
